@charset "UTF=8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    ;
}

:root {
    --cor0:rgb(255, 255, 255);
    --cor1:rgb(106, 231, 106);
    --cor2:rgb(46, 226, 46);
    --cor3:rgb(19, 197, 19);
    --cor4:rgb(14, 145, 14);
    --cor5:rgb(10, 105, 10);
    --cor6:rgb(9, 73, 9);
    --font0: Arial,Verdana, Helvetica, sans-serif;
    --font1:'Bebas Neue', cursive;
    --font2:'Android', cursive;}

body {
    background-color: var(--cor1);
    font-family: var(--font0);
    line-height: 2.0em;
    font-size: 1.1em;
}
header {
    min-height: 150px;;
    padding-top: 30px;
    background-color: var(--cor5);
    color: white;
    background-image: linear-gradient(to bottom,
    var(--cor4),
    var(--cor6));

}
header h1 {
    font-family: var(--font1);
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.664);
    
}
header p {
    text-align: center;
    padding-top: 20px;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.664);
}
nav {
    background-color: var(--cor6);
    padding-bottom: 3px;
}
nav a {
    color: var(--cor0);
    padding: 10px;
    font-family: var(--font1);
}
nav a:hover {
    background-color: var(--cor2);
    border-radius: 5px;
    transition-duration: 1s;
}
main {
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
    border-radius: 0px 0px 10px 10px;
    background-color: var(--cor0);
}
main h1 {
    font-family: var(--font2);
    color: var(--cor5);
    font-weight: bold;
    text-indent: 20px;
} 
main p {
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.3em;
    font-size: 1.1em;
}
main h2 {
    font-family: var(--font2);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor2),  transparent);
    text-indent: 20px;
}
strong {
    color: var(--cor4);
    font-weight: bold;
}
main img {
    display: block;
    margin: auto;
}
main a {
    background-color: var(--cor5);
    color: white;
    padding: 2px;
    font-weight: bold;
    border-radius: 5px;
}
main a:hover {
    text-decoration: underline;

}
.pequena {
   max-width: 350px;
    display: block;
    margin: auto;
}
.video {
   
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
}
a.externo::after {
    content: '\1F517';
}
article {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
}
article  h3 {
    background-color: var(--cor3);
    padding: -10px;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px;
    
}
article ul {
    list-style-type: '\1F5F8\0020\0020';
    list-style-position: inside;
    columns: 2;
   
}
article abbr {
    text-decoration: underline;
}
footer {
    text-align: center;
}